@font-face {
  font-family: 'VAG World';
  src: url('../fonts/VAG_World.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Edo SZ HQ';
  src: url('../fonts/edoszhq_regular.woff') format('woff');
  font-weight: 400;
}